<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Polygons | {% block page_title %} {% endblock %}</title>
    <meta name="author" content="Rodolfo Queiroz">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mpp/third-party/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'mpp//css/main.css' %}?version=1.12">
  </head>
  <body>

    <!-- Body content -->
    {% include "mpp/base/navbar_snippet.html" %}


    <script src="{% static 'mpp/third-party/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'mpp/third-party/bootbox/bootbox.min.js' %}"></script>
    <script src="{% static 'mpp/js/csrf.js' %}"></script>
    <script src="{% static 'mpp/js/main.js' %}?version=1.11"></script>

    {% block content %}
    {% endblock %}

    {% include "mpp/base/footer_snippet.html" %}

    {% include "mpp/modals/wait_modal.html" %}
  </body>
</html>
