{% load static %}
<footer>
  <container>
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="dev-container">
          <img src="{% static 'mpp/img/devs/rodolfo.png'%}"></img>
          <div class="dev-name">Rodolfo Queiroz
            <a class="dev-git" href="https://github.com/rqroz"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="dev-container">
          <img src="{% static 'mpp/img/devs/railton.png'%}"></img>
          <div class="dev-name">Railton Thales
            <a class="dev-git" href="http://railtont.github.io/"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        &copy;&nbsp;2018
      </div>
    </div>
  </container>
</footer>
