{% extends "mpp/base/base.html" %}
{% load static %}
{% load mpp_template_tags %}
{% block page_title %} Index {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 text-center">
    <h2>Polygon Finder</h2>
    <h5>
      Use the grid bellow to select pixels in order to form a closed border. Once finished, use the blue button
      to get a representative image from the
      <a id="mpp-popover" class="no-decoration" href="#" style="font-weight:600;"
          tabindex="0" data-toggle="popover" data-placement="bottom" data-trigger="focus" role="button"
          data-title="Minimum Perimeter Polygon (MPP)"
          data-content="This technique is used to represent the shape in a given boundary using the fewest possible number of sequences.
          More information about this can be found at Chapter 11 of the book Digital Image Processing by Rafael C. Gonzalez, Richard E. Woods.">
        Minimum Perimeter Polygon (MPP)
      </a> technique.
    </h5>
    <p>This is an example of an implementation of the MPP algorithm.</p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-6 config-section">
    <div class="config-section-v-centerd">
      <div class="row">
        <div class="col-md-12">
          <p>Need Help? <a href="#help" class="help-btn no-decoration" data-toggle="modal" data-target="#help-modal">Click here <i class="fas fa-question-circle"></i></a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="switch-option col-md-4">
              <div class="pull-right" style="border-bottom: 2px solid #ccc;">Single Selection</div>
            </div>
            <div class="switch-container col-md-4">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
            <div class="switch-option col-md-4">
              <div class="pull-left" style="border-bottom: 2px solid #398439;">Multiple Selection</div>
            </div>
          </div>
          <div class="row" style="margin-top:20px; margin-bottom:20px;">
            <div class="col-md-12" id="reverse-btn-container" style="display:none;">
              <button id="reverse-btn" class="btn btn-default" data-sel-type="single"><i class="fas fa-undo-alt"></i>&nbsp;Revert Selection</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-danger" onclick="window.location.reload();">Reset</button>
          <a id="submit-matrix" class="btn btn-info">Get Result</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <center>
          <div class="btn-group matrix-btn-group">
          {% for i in matrix_dim|makelist %}
            {% for j in matrix_dim|makelist %}
              <button id="mb{{i}}-{{j}}" type="button" class="btn btn-default matrix-btn" data-row="{{i}}" data-col="{{j}}"></button>
            {% endfor %}
          {% endfor %}
          </div>
      </center>
      </div>
    </div>
  </div>
</div>


{% include "mpp/modals/help-modal.html" %}
{% include "mpp/modals/result-modal.html" %}
<script  src="{% static 'mpp/js/index.js' %}?version=1.11"></script>
{% endblock %}
